%h2 About

%p
  Stephen Wyatt Bush is a Web developer living in Atlanta and working at <a href="http://mailchimp.com/">MailChimp</a>.While persuing a BFA in design, he started teaching himself to code, and is now an obsessive self-motivated learner. His work is featured in <span class='pub'>.net Magazine</span>, <span class='pub'>Unmatched Style</span>, and <span class='pub'>DailyJS</span>.
