%h2 About

%p
  Stephen Wyatt Bush is a Web developer living in Atlanta and working at <a href="http://mailchimp.com/">MailChimp</a>. While persuing a BFA in design, he started teaching himself to code, and hasn&rsquo;t looked back. He is a proficient front-end developer with an increasing interest in server-side technologies and programming languages. His work is featured in <span class='pub'>.net Magazine</span>, <span class='pub'>Unmatched Style</span>, and <span class='pub'>DailyJS</span>. He shares what he learns on <a href="http://blog.stephenwyattbush.com">his blog</a>.
