%h2 Elsewhere

%ul
  %li
    %p= link_to "Twitter", "http://twitter.com/wyattdanger"
  %li
    %p= link_to "Github", "http://github.com/wyattdanger"
  %li
    %p= link_to "LinkedIn", "http://www.linkedin.com/in/stephenwyattbush"
