%h2#reading Reading
:plain
  <div id="gr_custom_widget_1332734784">
  <div class="gr_custom_container_1332734784">
  <h2 class="gr_custom_header_1332734784">
  <a href="http://www.goodreads.com/review/list/6408698-stephen-bush?shelf=currently-reading&amp;utm_medium=api&amp;utm_source=custom_widget" style="text-decoration: none;">Currently Reading</a>
  </h2>
  <div class="gr_custom_each_container_1332734784">
  <div class="gr_custom_book_container_1332734784">
  <a href="http://www.goodreads.com/review/show/213284826?utm_medium=api&amp;utm_source=custom_widget" title="JavaScript Web Applications"><img alt="JavaScript Web Applications" border="0" src="http://photo.goodreads.com/books/1328761483s/11971105.jpg" /></a>
  </div>
  <div class="gr_custom_title_1332734784">
  <a href="http://www.goodreads.com/review/show/213284826?utm_medium=api&amp;utm_source=custom_widget">JavaScript Web Applications</a>
  </div>
  <div class="gr_custom_author_1332734784">
    by <a href="http://www.goodreads.com/author/show/5021888.Alex_MacCaw">Alex MacCaw</a>
  </div>
  </div>
  <div class="gr_custom_each_container_1332734784">
  <div class="gr_custom_book_container_1332734784">
  <a href="http://www.goodreads.com/review/show/276019990?utm_medium=api&amp;utm_source=custom_widget" title="Cooking for Geeks: Real Science, Great Hacks, and Good Food"><img alt="Cooking for Geeks: Real Science, Great Hacks, and Good Food" border="0" src="http://photo.goodreads.com/books/1327879176s/7985893.jpg" /></a>
  </div>
  <div class="gr_custom_title_1332734784">
  <a href="http://www.goodreads.com/review/show/276019990?utm_medium=api&amp;utm_source=custom_widget">Cooking for Geeks: Real Science, Great Hacks, and Good Food</a>
  </div>
  <div class="gr_custom_author_1332734784">
  by <a href="http://www.goodreads.com/author/show/275310.Jeff_Potter">Jeff Potter</a>
  </div>
  </div>
  <div class="gr_custom_each_container_1332734784">
  <div class="gr_custom_book_container_1332734784">
  <a href="http://www.goodreads.com/review/show/300760265?utm_medium=api&amp;utm_source=custom_widget" title="Objects on Rails"><img alt="Objects on Rails" border="0" src="http://www.goodreads.com/images/nocover-60x80.jpg" /></a>
  </div>
  <div class="gr_custom_title_1332734784">
    <a href="http://www.goodreads.com/review/show/300760265?utm_medium=api&amp;utm_source=custom_widget">Objects on Rails</a>
  </div>
  <div class="gr_custom_author_1332734784">
    by <a href="http://www.goodreads.com/author/show/4971702.Avdi_Grimm">Avdi Grimm</a>
  </div>
  </div>
  <div class="gr_custom_each_container_1332734784">
  <div class="gr_custom_book_container_1332734784">
    <a href="http://www.goodreads.com/review/show/300765734?utm_medium=api&amp;utm_source=custom_widget" title=" Crafting Rails Applications: Expert Practices for Everyday Rails Development"><img alt="Crafting Rails Applications: Expert Practices for Everyday Rails Development" border="0" src="http://photo.goodreads.com/books/1297349721s/9856964.jpg" /></a>
  </div>
  <div class="gr_custom_title_1332734784">
    <a href="http://www.goodreads.com/review/show/300765734?utm_medium=api&amp;utm_source=custom_widget">Crafting Rails Applications: Expert Practices for Everyday Rails Development</a>
  </div>
  <div class="gr_custom_author_1332734784">
    by <a href="http://www.goodreads.com/author/show/4499035.Jos_Valim">Jose Valim</a>
  </div>
  </div>
  </div>
  </div>
