!!! 5
%head
  %title Stephen Wyatt Bush &ndash; Web Developer
  :plain
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600|Average' rel='stylesheet' type='text/css'>
    <link href='/site.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

%body
  %header
    .content
      %hgroup
        %h1 Stephen Wyatt Bush
        %h2 Web Developer
      %nav
        %ul
          %li= link_to "About", "#about"
          %li= link_to "Blog", "//blog.stephenwyattbush.com"
  %section
    .content
      = yield
