!!! 5
%head
  %title Stephen Wyatt Bush &ndash; Web Developer
  :plain
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" /> 
    <meta name="description" content="Portfolio and Resume of Stephen Wyatt Bush"/> 
    <meta name="keywords" content="web developer, chattanooga, stephen wyatt bush, stephen bush, wyattdanger, web" />
    <meta name="author" content="Stephen Wyatt Bush">
    <meta content='Copyright (c) 2012 Stephen Wyatt Bush. All Rights Reserved.' name='copyright' />
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative:400,600|Average' rel='stylesheet' type='text/css'>
    <link href='/site.css' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">

%body
  %header
    .content
      %hgroup
        %h1 Stephen Wyatt Bush
        %h2 Web Developer
      %nav
        %ul
          %li= link_to "About", "#about"
          %li= link_to "Blog", "//blog.stephenwyattbush.com"
  %section
    .content
      = yield
  :plain
    <script type="text/javascript">
      var _gauges = _gauges || [];
      (function() {
      if (window.location.host !== "stephenwyattbush.com") { return; }
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f8078baf5a1f57a8200000c');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
      })();
    </script>
