@import bourbon/bourbon
@import views/sass/normalize


html
  background: #fafafa
  border-top: 1rem solid #444

a
  color: #555

body
  font-family: "Average", Georgia, Serif
  width: 80%%
  margin: 0 auto
  color: #444

img
  max-width: 100%

.sans
  font-family: "Signika Negative", "Helvetica", "Arial"
  
h1, h2, h3, h4, h5, h6
  @extend .sans
  font-weight: 600
  a
    text-decoration: none

h2, h3, h4, h5, h6
  font-weight: 400

h1
  text-shadow: 1px 1px 0 #fff

.work-link
  @extend .sans
  background: #666
  color: #eee
  padding: 1rem
  display: inline-block

.work-description
  @extend .unit
  @extend .size1of3
.work-images
  @extend .unit
  @extend .size2of3

header
  a
    text-decoration: none

/* NAV
nav
  ul
    list-style-type: none
  a
    text-decoration: none

ul
  padding: 0
  &.work
    li
      list-style-type: none

body::before
  content: '< 480px'
  position: absolute
  top: 1rem

@media only screen and (min-width: 480px)
  body::before
    content: '480px < 600px'

@media only screen and (min-width: 600px)
  body::before
    content: '600px < 768px'

@media only screen and (min-width: 768px)
  body::before
    content: '768px < 992px'
  .unit
    float: left

  .size1of3
    width: 38%
  .size2of3
    width: 62%

@media only screen and (min-width: 992px)
  body::before
    content: '992px < 1382px'

@media only screen and (min-width: 1382px)
  body::before
    content: '1382px <'

@media print
